<h1>Bem vindo(a) ao cadastramento.</h1>
<h4>Por favor, preencha todos os dados.</h4>

<form action="/add" method="POST" class="dados">
    <label>Nome:</label>
    <br/>
    <input name="name" type="text"/>
    <br/>
    <label>E-mail:</label>
    <br/>
    <input name="email" type="text"/>
    <br/>
    <label for="pass">Senha:</label>
    <br/>
    <input name="password" type="password" minlength="6" required/>
    <br/>
    <button id="enter" type="submit">Registrar</button>
    <br/>
</form>