<h2>Bem vindo(a)!</h2>
<h3>Para acessar aos questionarios, fazer o login ou cadastrar-se.</h3>

<form action="/index" method="POST" class="dados">
    <label>E-mail:</label>
    <br/>
    <input name="email" type="text"/>
    <br/>
    <label for="pass">Senha:</label>
    <br/>
    <p>Mínimo de 6 caracteres</p>
    <br/>
    <input name="password" type="password"/>
    <br/>
    <button id="enter">Entrar</button>
    <br/>
    <a id="ancora" href="/cadastro">Não tem cadastro? Clique aqui</a>
</form>