<form class="questions">
    <h1 id="title">Registro de questionário</h1>
    <br/>
    <label>Titulo:</label>
    <br/>
    <input type="text"/>
    <br/>
    <label>Digite a pergunta abaixo: </label>
    <br/>
    <input id="question" type="text"/>
    <br/>
    <label>Agora digite a resposta: </label>
    <br/>
    <input id="answer" type="text"/>
    <br/>
    <button id="send" type="submit">Enviar</button>
</form>